<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>数据 - AdminLTE2定制版</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">

    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/app.min.js"></script>

    <!-- 导入js  -->
   <!-- <script type="text/javascript" src="../js/jquery.js"></script>-->
    <!-- 导入controller  -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/adminBase.js"></script>
    <script type="text/javascript" src="../js/service/adminUserService.js"></script>
    <script type="text/javascript" src="../js/controller/adminUserController.js"></script>


</head>

<body class="hold-transition skin-purple sidebar-mini"  ng-controller="adminUserController" ng-app="shanxi-admin" ng-init="getUser()">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <span class="logo-lg"><b>数据</b>后台管理</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{user}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    {{user}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        修改密码
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <a href="../logout.do" class="btn btn-default btn-flat"   >注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{user}}</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">菜单</li>
                <li id="admin-index"><a href="index.html"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
                <!-- 菜单 -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>产品</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li >
                            <a href="product/productDateList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 产品列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>用标企业</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li >
                            <a href="enterprise/enterpriseDateList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 数据列表页
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>政策文件</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="policy/policyList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 政策文件列表页
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>公告</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="proclamation/proclamationList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 公告列表页
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>产品分类</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="classfication/classficationCountry.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 国内产品
                            </a>
                        </li>
                        <li>
                            <a href="classfication/classficationShanxi.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 陕西产品
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>投诉管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="complaint/complaintTodoList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 未处理
                            </a>
                        </li>
                        <li>
                            <a href="complaint/complaintFinishList.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 已处理
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>相关企业</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="admin-datalist">
                            <a href="all-admin-datalist.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 数据列表页
                            </a>
                        </li>
                        <li id="admin-dataform">
                            <a href="all-admin-dataform.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 表单页
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>查询统计</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li >
                            <a href="all-admin-datalist.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 陕西省地理标志整体概况
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <iframe width="100%"  id="iframe"  name="iframe" onload="SetIFrameHeight()"  frameborder="0" src="home.html" ></iframe>
    </div>
    <!-- 内容区域 /-->

    <!-- 底部导航 -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.8
        </div>
        <strong>Copyright &copy; 2014-2017 <a href="http://www.itcast.cn">研究院研发部</a>.</strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

    <!-- modal -->
    <div id="myModal" class="modal " role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改密码</h4>{{oldPassword}}{{newPassword}}
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputPassword1" class="col-sm-2 control-label">原始密码:</label>
                                <div class="col-sm-5">
                                    <input  id="inputPassword1"   my-blur="checkOldPassword()" ng-model="oldPassword" type="password" class="form-control" placeholder="原始密码" value="" >
                                    <span   ng-show="oldPasswordFlag">原始密码错误</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword2" class="col-sm-2 control-label">新密码:</label>
                                <div class="col-sm-5">
                                    <input id="inputPassword2"  ng-model="newPassword" type="password" class="form-control" placeholder="新密码" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " data-dismiss="modal">关闭</button>
                    <button type="button" class="btn " data-dismiss="modal" ng-click="savePassword()">保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>



<script>

    function SetIFrameHeight() {
        var iframeid = document.getElementById("iframe");
        if(document.getElementById){
            iframeid.height = document.documentElement.clientHeight - 120;
        }
    }

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }

    $(document).ready(function() {
        // 激活导航位置
        setSidebarActive("admin-index");
    });
</script>
</body>

</html>
<!---->
