<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- 导入js  -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- 导入controller  -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/adminBase.js"></script>
    <script type="text/javascript" src="../js/controller/adminUploadExceController.js"></script>
    <script type="text/javascript" src="../js/service/adminUploadExceService.js"></script>
</head>
<body class="hold-transition skin-purple sidebar-mini" ng-app="shanxi-admin" ng-controller="adminUploadExcelController">
    <div class="content-wrapper" style="margin-left: 0px">
        <section class="content">
            <div class="box-body">
                <!--tab页-->
                <div class="nav-tabs-custom">

                    <!--tab头-->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-label" data-toggle="tab">label显示</a>
                        </li>
                        <li>
                            <a href="#tab-common" data-toggle="tab">模板下载</a>
                        </li>
                    </ul>
                    <!--tab头/-->

                    <!--tab内容-->
                    <div class="tab-content">
                        <!--label显示的内容-->
                        <div class="tab-pane active" id="tab-label">
                            <div class="row">
                                <div class="col-md-2 title">文件上传</div>
                                <div class="col-md-4 data">
                                    <input type="file" accept=".xlsx,.xls" name="" id="exampleInputFile">
                                </div>
                                <div class="col-md-1 title">上传类型</div>
                                <div class="col-md-2 data">
                                    <select class="form-control" ng-model="dataBasesType">
                                        <option value="1">产品</option>
                                        <option value="2">用标企业</option>
                                        <option value="3">政策文件</option>
                                        <option value="4">公告</option>
                                        <option value="5">产品标准</option>
                                        <option value="6">地理标志商标</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-6 ">
                                        <button type="button" class="btn bg-maroon" ng-click="saveExcel()">上传</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--基础控件-->
                        <div class="tab-pane" id="tab-common">
                            <div class="row data-type">
                                <div class="col-md-2 title">产品模板</div>
                                <div class="col-md-4 data">
                                   <a type="button"  href="../static/file/产品.xls">点我下载</a>
                                </div>
                                <div class="col-md-2 title">用标企业</div>
                                <div class="col-md-4 data">
                                    <a type="button"  href="../static/file/用标企业.xls">点我下载</a>
                                </div>
                                <div class="col-md-2 title">政策文件</div>
                                <div class="col-md-4 data">
                                    <a type="button"  href="../static/file/政策文件.xls">点我下载</a>
                                </div>
                                <div class="col-md-2 title">公告</div>
                                <div class="col-md-4 data">
                                    <a type="button"  href="../static/file/公告.xls">点我下载</a>
                                </div>
                                <div class="col-md-2 title">产品标准</div>
                                <div class="col-md-4 data">
                                    <a type="button"  href="../static/file/产品标准.xls">点我下载</a>
                                </div>
                                <div class="col-md-2 title">地理标志商标</div>
                                <div class="col-md-4 data">
                                    <a type="button"  href="../static/file/地理标志商标.xls">点我下载</a>
                                </div>
                            </div>
                        </div>
                        <!--基础控件/-->
                    </div>
                </div>

            </div>
        </section>
    </div>
</body>
</html>