<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>政策列表页</title>
    <meta name="description" content="政策列表页">
    <meta name="keywords" content="政策列表页">

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <script src="../../js/jquery-1.8.3.js"></script>
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../plugins/adminLTE/js/app.min.js"></script>

    <!--  angularjs -->
    <!-- 导入controller  -->
    <script type="text/javascript" src="../../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../js/adminBase.js"></script>
    <script type="text/javascript" src="../../js/service/adminPolicyService.js"></script>
    <script type="text/javascript" src="../../js/controller/adminPolicyController.js"></script>

</head>

<body class="hold-transition skin-purple sidebar-mini" ng-app="shanxi-admin" ng-controller="adminPolicyController" ng-init="load()">

<div class="wrapper">

    <div class="content-wrapper" style="margin-left: 0px">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                政策管理
                <small>列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="policyList.html">政策管理</a></li>
                <li class="active">列表</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">列表</h3>
                </div>

                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">
                        <!--工具栏-->
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" title="新建" onclick='location.href="policyEdit.html"'><i class="fa fa-file-o"></i> 新建</button>
                                    <button type="button" class="btn btn-default" title="删除" ng-click="deleteAll()"><i class="fa fa-trash-o"></i> 删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="搜索">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!--工具栏/-->

                        <!--数据列表-->
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" id="all" name="all" onclick="chk()" /></th>
                                <th class="sorting_asc text-center">序号</th>
                                <th class="sorting">政策名称</th>
                                <th class="sorting text-center">政策类别</th>
                                <th class="sorting text-center">创建时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat=" item in resultMap.rows ">
                                <td class="text-center"><input type="checkbox" id="mychk" name="mychk" value="{{item.id}}"/></td>
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{item.title}}</td>
                                <td class="text-center">{{item.typeval}}</td>
                                <td class="text-center">{{item.createTime.substring(0,10)}}</td>
                                <td class="text-center">
                                    <a href="policyEdit.html#?idVal={{item.id}}"  style="text-decoration: none" class="btn bg-olive btn-xs"  >编辑</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--数据列表/-->
                    </div>
                    <!-- 数据表格 /-->
                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <div class="box-footer">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            总共{{resultMap.totalPages}} 页，共{{resultMap.total}} 条数据。 每页
                            <select class="form-control">
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>50</option>
                                <option>80</option>
                            </select> 条
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" ng-click="queryByPage(1)">首页</a>
                            </li>
                            <li class="prev {{isTopPage()?'disabled':''}}">
                                <a href="#" ng-click="queryByPage(searchMap.pageNo - 1)">上一页</a>
                            </li>
                            <li class="dotted" ng-if="firstDot == true"><span>...</span></li>
                            <li  ng-repeat="p in pageLabel"><a href="#" ng-click="queryByPage(p)">{{p}}</a></li>
                            <li class="dotted" ng-if="lastDot == true"><span>...</span></li>
                            <li class="next {{isEndPage() ? 'disabled': ''}}">
                                <a href="#"  ng-click="queryByPage(searchMap.pageNo + 1)">下一页</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next"  ng-click="queryByPage(resultMap.totalPages)">尾页</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.box-footer-->

            </div>

        </section>
        <!-- 正文区域 /-->
    </div>

    <script>
        function chk(){
            var all = document.getElementById("all");
            var mychk = document.getElementsByName("mychk");
            if(all.checked==true){
                if(mychk.length){
                    for(var i=0;i<mychk.length;i++){
                        mychk[i].checked = true;
                    }
                }
                mychk.chcked=true;
            }else{
                if(mychk.length){
                    for(var i=0;i<mychk.length;i++){
                        mychk[i].checked = false;
                    }
                }
            }
        }
    </script>

</div>


<script>

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }
    $(document).ready(function() {
        // 激活导航位置
        setSidebarActive("order-manage");

    });

</script>
</body>

</html>