<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--静态资源放行-->

    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <!--  登录页面放开 -->

    <http use-expressions="false">

        <!-- 后台页面需要权限 -->
        <intercept-url pattern="/admin/**"	access="ROLE_ADMIN"/>
        <!--开启表单-->
        <form-login login-processing-url="/login.do" login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html"
                    always-use-default-target="true"
        />
        <!--关闭跨域请求 Could not verify the provided CSRF token because your session was not found.-->
        <csrf disabled="true"/>
        <!--放开iframe可以访问-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout logout-url="/logout.do" logout-success-url="/login.html"/>

    </http>

    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="bCryptPasswordEncoder"/>
        </authentication-provider>
        <!--<authentication-provider >
            <user-service>
                <user name="ADMIN" authorities="ROLE_ADMIN" password="{noop}123456"/>
                <user name="USER" authorities="ROLE_ADMIN" password="{noop}123456"/>
            </user-service>
        </authentication-provider>-->
    </authentication-manager>


</beans:beans>