<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">




    <title>产品分类</title>
    <meta name="description" content="产品分类">
    <meta name="keywords" content="产品分类">


    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../css/style.css">



    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../plugins/adminLTE/js/app.min.js"></script>

    <!--  angularjs -->
    <!-- 导入controller  -->
    <script type="text/javascript" src="../../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../js/adminBase.js"></script>
    <script type="text/javascript" src="../../js/service/adminClassficationService.js"></script>
    <script type="text/javascript" src="../../js/controller/adminClassficationController.js"></script>
</head>

<body class="hold-transition skin-purple sidebar-mini" ng-app="shanxi-admin" ng-controller="adminClassficationController" ng-init="loadCountry()">

<div class="wrapper">

    <div class="content-wrapper" style="margin-left: 0px">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                产品分类管理
                <!--<small>列表</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="all-order-manage-list.html">分类管理</a></li>
                <!--<li class="active">列表</li>-->
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">分类列表</h3>
                </div>

                <div class="box-body">

                    <!-- 数据表格 -->
                    <div class="table-box">

                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">

                                    <button type="button" class="btn btn-default" id="addClass" onclick="addClassModal(this)"><i class="fa fa-file-o"></i> 新建</button>
                                   <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addClassModal" data-id="addClass"><i class="fa fa-file-o"></i> 新建</button>-->
                                    <button type="button" class="btn btn-default" title="删除" title="删除" ng-click="deleteCountryClass()"><i class="fa fa-trash-o"></i> 删除</button>
                                </div>
                            </div>
                        </div>

                        <!--数据列表-->
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="all" name="all" onclick="chk()"/></th>
                                <th class="text-center sorting_asc">序号</th>
                                <th class="text-center sorting">类别</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in resultMap.rows">
                                <td><input type="checkbox" id="mychk" name="mychk" value="{{x.classificationid}}"/></td>
                                <td align="center" >{{$index+1}}</td>
                                <td align="center" >{{x.name}}</td>
                                <td class="text-center">
                                    <!--<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editClassModal" data-id="edit">修改</button>-->
                                    <button type="button" class="btn bg-olive btn-xs"  id="editClass" onclick="editClassModal(this)">修改</button>
                                </td>
                                <td style="display:none">{{x.classificationid}}</td>
                            </tr>
                            <input type="text" style="display:none;" name="maxId" id="maxId" value="{{resultMap.rows.length}}"/>
                            <input type="text" style="display:none;" name="rootids" id="rootids" value="{{resultMap.parentId}}"/>
                            <!--{{resultMap.rows.length}}-->
                            </tbody>
                        </table>
                        <!--数据列表/-->
                    </div>
                    <!-- 数据表格 /-->
                    <!--模态框-->
                    <div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">新增国内分类</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" id="imageForm" method="post" enctype="multipart/form-data">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="className">类名</label>
                                                <input type="email" class="form-control" id="className" name="className" placeholder="请输入类名">
                                            </div>
                                            <!--<div class="form-group" id="loadshow">
                                                <img id="imgcontent" width="550" height="340">
                                            </div>-->
                                            <div class="form-group">
                                                <label for="imageFile">类别图片</label>
                                                <input type="file" id="imageFile" name="imageFile">

                                                <!--<p class="help-block">Example block-level help text here.</p>-->
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="loadTodo()">关闭</button>
                                    <button type="button" class="btn btn-primary" ng-click="addCountryClass()">保存</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!--模态框-->
                    <!--编辑模态框-->
                    <div class="modal fade" id="editClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">编辑国内分类</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" id="editForm" method="post" enctype="multipart/form-data">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="className">类名</label>
                                                <input type="email" class="form-control" id="editName" name="editName" placeholder="请输入类名">
                                                <input type="text" style="display:none;" name="thisId" id="thisId" />
                                            </div>
                                            <div class="form-group" id="imageshow">
                                                <input type="text" style="display:none;" name="thisimg" id="thisimg" />
                                                <img id="imageid" width="550" height="340">
                                            </div>
                                            <div class="form-group">
                                                <label for="editImageFile">类别图片</label>
                                                <input type="file" id="editImageFile" name="editImageFile">

                                                <!--<p class="help-block">Example block-level help text here.</p>-->
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="loadTodo()">关闭</button>
                                    <button type="button" class="btn btn-primary" ng-click="editCountryClass()">保存</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!--模态框-->

                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <div class="box-footer">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            总共{{resultMap.totalPages}}页，总共{{resultMap.total}}条数据。 <!--每页
                            <select class="form-control">
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>50</option>
                                <option>80</option>
                            </select> 条-->
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" ng-click="queryByPage(1)">首页</a>
                            </li>
                            <li class="prev {{isTopPage()?'disabled':''}}">
                                <a href="#" ng-click="queryByPage(searchMap.pageNo - 1)">上一页</a>
                            </li>
                            <li class="dotted" ng-if="firstDot == true"><span>...</span></li>
                            <li  ng-repeat="p in pageLabel"><a href="#" ng-click="queryByPage(p)">{{p}}</a></li>
                            <li class="dotted" ng-if="lastDot == true"><span>...</span></li>
                            <li class="next {{isEndPage() ? 'disabled': ''}}">
                                <a href="#"  ng-click="queryByPage(searchMap.pageNo + 1)">下一页</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next"  ng-click="queryByPage(resultMap.totalPages)">尾页</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.box-footer-->


            </div>

        </section>
        <!-- 正文区域 /-->

    </div>


</div>


<script type="text/javascript">

    var imgSrc="";

    function editClassModal(obj){
        $("#editClassModal").modal('show');
        var $td = $(obj).parents('tr').children('td');
        var id = $td.eq(2).text();
        imgSrc="/img/index/guonei/";
        $('#editName').val(id);
        $('#thisId').val($td.eq(4).text());
        var imgId = $td.eq(4).text() + ".jpg";
        imgSrc += imgId;
        $('#thisimg').val(imgSrc);
        $("#imageid").attr("src",imgSrc);
    }
    function addClassModal(obj) {
        $("#addClassModal").modal('show');
    }
    function chk(){
        var all = document.getElementById("all");
        var mychk = document.getElementsByName("mychk");
        //alert("mychk长度=="+mychk.length);
        if(all.checked==true){
            //alert("all.checked==true全选");
            if(mychk.length){
                for(var i=0;i<mychk.length;i++){
                    mychk[i].checked = true;
                }

            }
            mychk.chcked=true;
        }else{
            //alert("all.checked==false全不选");
            if(mychk.length){
                for(var i=0;i<mychk.length;i++){
                    mychk[i].checked = false;
                }

            }
        }

    }
</script>
</body>

</html>