<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kfgs.mapper.TbEnterpriseMapper" >
    <resultMap id="BaseResultMap" type="com.kfgs.domain.TbEnterprise" >
        <id column="product_id" property="productId" jdbcType="INTEGER" />
        <id column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
        <id column="approval_announcement_no_enterprise" property="approvalAnnouncementNoEnterprise" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="enterprise_address" property="enterpriseAddress" jdbcType="VARCHAR" />
        <result column="administrative_id" property="administrativeId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="corporate_representative" property="corporateRepresentative" jdbcType="VARCHAR" />
        <result column="approval_announcement_no_enterprise_all" property="approvalAnnouncementNoEnterpriseAll" jdbcType="VARCHAR" />
        <result column="uniform_social_credit_code" property="uniformSocialCreditCode" jdbcType="VARCHAR" />
        <result column="approval_authority_enterprise" property="approvalAuthorityEnterprise" jdbcType="VARCHAR" />
        <result column="approval_year" property="approvalYear" jdbcType="VARCHAR" />
        <result column="is_first_submission" property="isFirstSubmission" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause_Product" >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
    </sql>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    product_id, enterprise_name, approval_announcement_no_enterprise, id, enterprise_address,
    administrative_id, create_time, isdelete, brand, corporate_representative, approval_announcement_no_enterprise_all,
    uniform_social_credit_code, approval_authority_enterprise, approval_year, is_first_submission
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kfgs.domain.TbEnterpriseExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from tb_enterprise
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kfgs.domain.TbEnterpriseKey" >
        select
        <include refid="Base_Column_List" />
        from tb_enterprise
        where product_id = #{productId,jdbcType=INTEGER}
        and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
        and approval_announcement_no_enterprise = #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.kfgs.domain.TbEnterpriseKey" >
        delete from tb_enterprise
        where product_id = #{productId,jdbcType=INTEGER}
          and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
          and approval_announcement_no_enterprise = #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.kfgs.domain.TbEnterpriseExample" >
        delete from tb_enterprise
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.kfgs.domain.TbEnterprise" >
        insert into tb_enterprise (product_id, enterprise_name, approval_announcement_no_enterprise,
          id, enterprise_address, administrative_id,
          create_time, isdelete, brand,
          corporate_representative, approval_announcement_no_enterprise_all,
          uniform_social_credit_code, approval_authority_enterprise,
          approval_year, is_first_submission)
        values (#{productId,jdbcType=INTEGER}, #{enterpriseName,jdbcType=VARCHAR}, #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR},
          #{id,jdbcType=INTEGER}, #{enterpriseAddress,jdbcType=VARCHAR}, #{administrativeId,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR},
          #{corporateRepresentative,jdbcType=VARCHAR}, #{approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
          #{uniformSocialCreditCode,jdbcType=VARCHAR}, #{approvalAuthorityEnterprise,jdbcType=VARCHAR},
          #{approvalYear,jdbcType=VARCHAR}, #{isFirstSubmission,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kfgs.domain.TbEnterprise" >
        insert into tb_enterprise
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="productId != null" >
                product_id,
            </if>
            <if test="enterpriseName != null" >
                enterprise_name,
            </if>
            <if test="approvalAnnouncementNoEnterprise != null" >
                approval_announcement_no_enterprise,
            </if>
            <if test="id != null" >
                id,
            </if>
            <if test="enterpriseAddress != null" >
                enterprise_address,
            </if>
            <if test="administrativeId != null" >
                administrative_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="isdelete != null" >
                isdelete,
            </if>
            <if test="brand != null" >
                brand,
            </if>
            <if test="corporateRepresentative != null" >
                corporate_representative,
            </if>
            <if test="approvalAnnouncementNoEnterpriseAll != null" >
                approval_announcement_no_enterprise_all,
            </if>
            <if test="uniformSocialCreditCode != null" >
                uniform_social_credit_code,
            </if>
            <if test="approvalAuthorityEnterprise != null" >
                approval_authority_enterprise,
            </if>
            <if test="approvalYear != null" >
                approval_year,
            </if>
            <if test="isFirstSubmission != null" >
                is_first_submission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="productId != null" >
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="enterpriseName != null" >
                #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="approvalAnnouncementNoEnterprise != null" >
                #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="enterpriseAddress != null" >
                #{enterpriseAddress,jdbcType=VARCHAR},
            </if>
            <if test="administrativeId != null" >
                #{administrativeId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdelete != null" >
                #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="brand != null" >
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="corporateRepresentative != null" >
                #{corporateRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="approvalAnnouncementNoEnterpriseAll != null" >
                #{approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
            </if>
            <if test="uniformSocialCreditCode != null" >
                #{uniformSocialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="approvalAuthorityEnterprise != null" >
                #{approvalAuthorityEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="approvalYear != null" >
                #{approvalYear,jdbcType=VARCHAR},
            </if>
            <if test="isFirstSubmission != null" >
                #{isFirstSubmission,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.kfgs.domain.TbEnterpriseExample" resultType="java.lang.Integer" >
        select count(*) from tb_enterprise
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update tb_enterprise
        <set >
            <if test="record.productId != null" >
                product_id = #{record.productId,jdbcType=INTEGER},
            </if>
            <if test="record.enterpriseName != null" >
                enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="record.approvalAnnouncementNoEnterprise != null" >
                approval_announcement_no_enterprise = #{record.approvalAnnouncementNoEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.enterpriseAddress != null" >
                enterprise_address = #{record.enterpriseAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.administrativeId != null" >
                administrative_id = #{record.administrativeId,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isdelete != null" >
                isdelete = #{record.isdelete,jdbcType=INTEGER},
            </if>
            <if test="record.brand != null" >
                brand = #{record.brand,jdbcType=VARCHAR},
            </if>
            <if test="record.corporateRepresentative != null" >
                corporate_representative = #{record.corporateRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="record.approvalAnnouncementNoEnterpriseAll != null" >
                approval_announcement_no_enterprise_all = #{record.approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
            </if>
            <if test="record.uniformSocialCreditCode != null" >
                uniform_social_credit_code = #{record.uniformSocialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="record.approvalAuthorityEnterprise != null" >
                approval_authority_enterprise = #{record.approvalAuthorityEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="record.approvalYear != null" >
                approval_year = #{record.approvalYear,jdbcType=VARCHAR},
            </if>
            <if test="record.isFirstSubmission != null" >
                is_first_submission = #{record.isFirstSubmission,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update tb_enterprise
        set product_id = #{record.productId,jdbcType=INTEGER},
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
        approval_announcement_no_enterprise = #{record.approvalAnnouncementNoEnterprise,jdbcType=VARCHAR},
        id = #{record.id,jdbcType=INTEGER},
        enterprise_address = #{record.enterpriseAddress,jdbcType=VARCHAR},
        administrative_id = #{record.administrativeId,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        isdelete = #{record.isdelete,jdbcType=INTEGER},
        brand = #{record.brand,jdbcType=VARCHAR},
        corporate_representative = #{record.corporateRepresentative,jdbcType=VARCHAR},
        approval_announcement_no_enterprise_all = #{record.approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
        uniform_social_credit_code = #{record.uniformSocialCreditCode,jdbcType=VARCHAR},
        approval_authority_enterprise = #{record.approvalAuthorityEnterprise,jdbcType=VARCHAR},
        approval_year = #{record.approvalYear,jdbcType=VARCHAR},
        is_first_submission = #{record.isFirstSubmission,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.kfgs.domain.TbEnterprise" >
        update tb_enterprise
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="enterpriseAddress != null" >
                enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
            </if>
            <if test="administrativeId != null" >
                administrative_id = #{administrativeId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdelete != null" >
                isdelete = #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="brand != null" >
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="corporateRepresentative != null" >
                corporate_representative = #{corporateRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="approvalAnnouncementNoEnterpriseAll != null" >
                approval_announcement_no_enterprise_all = #{approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
            </if>
            <if test="uniformSocialCreditCode != null" >
                uniform_social_credit_code = #{uniformSocialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="approvalAuthorityEnterprise != null" >
                approval_authority_enterprise = #{approvalAuthorityEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="approvalYear != null" >
                approval_year = #{approvalYear,jdbcType=VARCHAR},
            </if>
            <if test="isFirstSubmission != null" >
                is_first_submission = #{isFirstSubmission,jdbcType=VARCHAR},
            </if>
        </set>
        where product_id = #{productId,jdbcType=INTEGER}
        and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
        and approval_announcement_no_enterprise = #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kfgs.domain.TbEnterprise" >
    update tb_enterprise
    set id = #{id,jdbcType=INTEGER},
      enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
      administrative_id = #{administrativeId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      corporate_representative = #{corporateRepresentative,jdbcType=VARCHAR},
      approval_announcement_no_enterprise_all = #{approvalAnnouncementNoEnterpriseAll,jdbcType=VARCHAR},
      uniform_social_credit_code = #{uniformSocialCreditCode,jdbcType=VARCHAR},
      approval_authority_enterprise = #{approvalAuthorityEnterprise,jdbcType=VARCHAR},
      approval_year = #{approvalYear,jdbcType=VARCHAR},
      is_first_submission = #{isFirstSubmission,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
      and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
      and approval_announcement_no_enterprise = #{approvalAnnouncementNoEnterprise,jdbcType=VARCHAR}
  </update>

    <!--新增方法 -->

    <select id="selectSydbqyList" resultType="com.kfgs.domain.ext.TbEnterpriseExt">
      SELECT
        e.enterprise_name AS enterpriseName,
        e.uniform_social_credit_code AS uniformSocialCreditCode,
        e.approval_announcement_no_enterprise AS approvalAnnouncementNoEnterprise,
        e.approval_year AS approvalYear,
        e.approval_authority_enterprise AS approvalAuthorityEnterprise,
        e.product_id as productId,
        p.NAME AS productName
    FROM
        tb_enterprise e,
        tb_product p
    WHERE
        e.product_id = p.id
  </select>

    <select id="selectEnterpriseGroupByApprovalYear" resultType="java.util.Map">
        select count(1),approval_year from tb_enterprise where is_first_submission = '未变更' group by approval_year
    </select>

    <select id="selectByIdInList" resultType="com.kfgs.domain.TbEnterprise">
        select id,enterprise_name from tb_enterprise where is_first_submission = '未变更' and
        id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectDistinctEnterpriseApprovalYear" resultType="java.lang.String">
        select DISTINCT approval_year from tb_enterprise where is_first_submission = '未变更'
    </select>

    <select id="selectByIdAndName" resultType="java.util.Map">
         select  id,enterprise_name from    tb_enterprise where is_first_submission = '未变更'
    </select>

    <select id="selectHistogramByProEnt" resultType="java.util.Map">
        select t1.city_id as area ,ifnull(t0.countNum,0) AS countNum from tb_administrative_area t1 LEFT JOIN  (
        SELECT
        <choose>
            <when test="parentId ==null or parentId =='' or parentId == '610000' ">
                SUBSTR(administrative_id FROM 1 FOR 4)  as area , count(1 ) as countNum
            </when>
            <otherwise>
                administrative_id as area, count( 1  ) as countNum
            </otherwise>
        </choose>
        FROM
        tb_enterprise enn LEFT JOIN
        tb_product  tpp on enn.product_id = tpp.id
        where  enn.is_first_submission = '未变更'
        <if test="year != null and year != '' and year!='全部'">
            and  enn.approval_year = #{year}
        </if>
        <if test="classification != null and classification != '' and classification !='0000' ">
            and   tpp.classificationId IN (
            SELECT
            classificationId
            FROM
            tb_classification
            WHERE
            parentId = #{classification}
            )
        </if>
        <if test="parentId !=null and parentId !='' and  parentId != '610000' ">
            <choose>
                <when test=" parentId.lastIndexOf('00') > 0 ">
                    and administrative_id in (select city_id  from  tb_administrative_area where parent_id = #{parentId})
                </when>
                <otherwise>
                    and   administrative_id = #{parentId}
                </otherwise>
            </choose>
        </if>
        GROUP BY
        SUBSTR(administrative_id FROM 1 FOR 4)
        ORDER BY
        count(1)
        ) t0 on
        <choose>
            <when test="parentId ==null or parentId =='' or parentId == '610000'">
                SUBSTR(t1.city_id, 1, 4) = t0.area
            </when>
            <otherwise>
                t1.city_id = t0.area
            </otherwise>
        </choose>


        where 1 = 1
        <choose>
            <when test="parentId ==null or parentId =='' or parentId == '610000'">
                and t1.city_id in (select city_id  from  tb_administrative_area where parent_id = '610000')
            </when>
            <otherwise>
                <choose>
                    <when test="parentId.lastIndexOf('00') > 0">
                        and t1.parent_id = #{parentId}
                    </when>
                    <otherwise>
                        and t1.city_id = #{parentId}
                    </otherwise>
                </choose>

            </otherwise>
        </choose>
        order by  countNum
    </select>

    <select id="selectPieAreaEnt" resultType="java.util.Map">
        select
        substr(classificationId, 1, 2) AS pieArea,
        count(1) AS countNum
        from
        tb_enterprise en
        left join tb_product pro on en.product_id = pro.id
        where
        is_first_submission = '未变更'
        <if test = "year != null and year != '' and year!='全部'" >
            AND en.approval_year = #{year}
        </if >
        <if test = "parentId !=null and parentId !='' and  parentId != '610000' ">
            <choose>
                <when test = " parentId.lastIndexOf('00') > 0 " >
                    AND administrative_id IN (SELECT  city_id  FROM  tb_administrative_area  WHERE  parent_id = #{parentId}  )
                </when>
                <otherwise>
                    AND administrative_id = #{parentId}
                </otherwise >
            </choose>
        </if>
        <if test = "classification != null and classification != '' and classification !='00'" >
            AND substr(classificationId, 1, 2) = #{classification}
        </if>
        GROUP BY
        substr(classificationId, 1, 2)
        ORDER BY
        count(1) DESC
    </select>

    <select id="selectLineChartByYearEnt" resultType="java.util.Map">
        SELECT
         enn.approval_year as years,COUNT(1)
        FROM
        tb_enterprise  enn LEFT JOIN
        tb_product  tpp on enn.product_id = tpp.id
        WHERE  enn.is_first_submission = '未变更'
        <if test="classification != null and classification != '' and classification!='0000' ">
            and   tpp.classificationId   in (select classificationId from tb_classification where parentId = #{classification})
        </if>
        <if test="parentId !=null and parentId !='' and  parentId != '610000' ">
            <choose>
                <when test=" parentId.lastIndexOf('00') > 0 ">
                    and administrative_id in (select city_id  from  tb_administrative_area where parent_id = #{parentId})
                </when>
                <otherwise>
                    and   administrative_id = #{parentId}
                </otherwise>
            </choose>
        </if>
        GROUP BY
           enn.approval_year
        ORDER BY
           enn.approval_year
    </select>

    <select id="selectEnterpriseByProductId" resultType="com.kfgs.domain.ext.TbEnterpriseExt">
        SELECT
            enterprise_name as enterpriseName,
            uniform_social_credit_code as uniformSocialCreditCode,
            approval_announcement_no_enterprise_all as approvalAnnouncementNoEnterpriseAll,
            approval_year as approvalYear,
            corporate_representative as corporateRepresentative,
            enterprise_address as enterpriseAddress,
            if(is_first_submission = '未变更','核准公告','变更公告') as isFirstSubmission
        FROM
            tb_enterprise
        where
          product_id = #{productId}
    </select>

    <select id="selectByExampleReturnTBEXT" resultType="com.kfgs.domain.ext.TbEnterpriseExt" parameterType="com.kfgs.domain.TbEnterpriseExample" >
        select
            e.enterprise_name AS enterpriseName,
            e.uniform_social_credit_code AS uniformSocialCreditCode,
            e.approval_announcement_no_enterprise AS approvalAnnouncementNoEnterprise,
            e.approval_year AS approvalYear,
            e.approval_authority_enterprise AS approvalAuthorityEnterprise,
            e.product_id as productId,
            p.NAME AS productName
        from
          tb_enterprise e,
          tb_product p
        where e.product_id = p.id
        <if test="_parameter != null" >
          <if test="_parameter.oredCriteria.size != 0">
            and
              <include refid="Example_Where_Clause_Product" />
          </if>

        </if>


    </select>


    <insert id="insertList" >
        insert into tb_enterprise(enterprise_name,enterprise_address,administrative_id,product_id,create_time,isdelete,
                  corporate_representative,approval_announcement_no_enterprise,approval_announcement_no_enterprise_all,
                  uniform_social_credit_code,approval_authority_enterprise,approval_year,is_first_submission)
        values
        <foreach collection="list" separator="," item="item">
            (
              #{item.enterpriseName},#{item.enterpriseAddress},#{item.administrativeId},#{item.productName},#{item.createTime},#{item.isdelete},
              #{item.corporateRepresentative},#{item.approvalAnnouncementNoEnterprise},#{item.approvalAnnouncementNoEnterpriseAll},
              #{item.uniformSocialCreditCode},#{item.approvalAuthorityEnterprise},#{item.approvalYear},#{item.isFirstSubmission}
            )
        </foreach>
    </insert>
</mapper>