<!doctype html>
<html ng-app="shanxi-firstweb">
<head>
    <meta charset="utf-8">
    <title>地标产品展示 - 中国▪陕西地理标志保护产品</title>
    <meta content="陕西地理标志保护产品,陕西地理标志保护产品,产品,地理,保护,标志,地理标志,地理标志保护,地理标志保护产品,茶,酒,果蔬,养殖,中药材,经济作物,地方特种,地方特色食品,食品,工艺品" name="keywords" />
    <meta content="" name="description" />
    <!--<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>

    <script type="text/javascript" src="../../js/jquery.SuperSlide.2.1.1.js"></script>-->
  <!--  <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>-->
    <script type="text/javascript" src="../../js/jquery.hoverdir.js"></script>

    <!--  导入angularjs  -->
    <script type="text/javascript" src="../../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../js/firstWebBase.js"></script>
    <script type="text/javascript" src="../../js/service/sxdbcpzsService.js"></script>
    <script type="text/javascript" src="../../js/controller/sxdbcpzsController.js"></script>


    <!--<script type="text/javascript" src="../../js/jquery.js"></script>-->
    <!-- custom scrollbar plugin -->
    <link rel="stylesheet" type="text/css" href="../../css/index/jquery.mCustomScrollbar.css" />
    <script src="../../js/index/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- custom scrollbar plugin -->
    <link rel="stylesheet" type="text/css" href="../../css/index/jquery.mCustomScrollbar.css" />
    <script src="../../js/index/jquery.mCustomScrollbar.concat.min.js"></script>



</head>


<body class="cpzs" ng-app="shanxi-firstweb" ng-controller="sxdbcpzsController" ng-init="search()">

<!-- custom scrollbar plugin -->
<link rel="stylesheet" type="text/css" href="../../css/index/jquery.mCustomScrollbar.css" />
<script src="../../js/index/jquery.mCustomScrollbar.concat.min.js"></script>

<div class="main" style="width: 100%;height: 100%;min-height: 600px;min-width: 1200px;">
    <!--top-->
    <link rel="stylesheet" type="text/css" href="../../css/index/dbcp.css">
    <link rel="stylesheet" type="text/css" href="../../css/index/cmsstyle.css">
    <link href="../../css/index/atlas.css" rel="stylesheet"/>

    <!-- custom scrollbar plugin -->
    <link rel="stylesheet" type="text/css" href="../../css/index/jquery.mCustomScrollbar.css" />
    <script src="../../js/index/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="../../js/index/mcomm.js"></script>

    <div class="headerbg">
        <div class="header">
            <div class="logo"></div>
            <div class="nav">
                <ul>
                    <li ><a href="http://localhost:9103/page/index.do" target="_self">首 页</a></li>
                    <li class="current"><a href="http://localhost:9103/page/dbcpzs.do" target="_self" title="特色展示">特色展示</a></li>
                    <li ><a href="http://localhost:9103/statisticsProductBulletin.html" target="_self" title="产品信息">产品信息</a></li>
                    <li ><a href="http://localhost:9103/page/sydbqy.do" target="_self" title="用标企业">用标企业</a></li>
                    <li ><a href="http://localhost:9103/statisticsStatistics.html" target="_self" title="查询统计">查询统计</a></li>
                    <li ><a href="http://localhost:9103/proclamationIndex.html" target="_self" title="地标公告">地标公告</a></li>
                    <li ><a href="http://localhost:9103/proclamationGuideBook.html" target="_self" title="地标指南">地标指南</a></li>
                    <li ><a href="http://localhost:9103/policyPapers.html" target="_self" title="政策文件">政策文件</a></li>
                    <li ><a href="http://localhost:9103/ComplainsRight.html" target="_self" title="投诉维权">投诉维权</a></li>
                    <li ><a href="http://localhost:9103/productIntroduction.html" target="_self" title="地标制度">地标制度</a></li>
                </ul>
                <a href="http://www.patviewer.com/" target="_blank"><label class="showSearch" title="搜索"></label></a>
            </div>
        </div>

    </div>



    <div class="cpindex" >

    <div class="cpindex" ng-app="shanxi-firstweb" ng-controller="sxdbcpzsController" ng-init="search()">

    <div class="cpindex" ng-controller="sxdbcpzsController" ng-init="search()">

        <div class="home_ad">
            <div class="picScroll-left">
                <div class="bd">


                       <ul class="picList da-thumbs">

                    < class="picList da-thumbs">
                        <li ng-repeat="(x,y) in resultMap.type">
                            <div class="ad">
                                <div class="tl">{{x|limitTo:-(x.length-4)}}</div>
                                <img src='../../img/index/201507/{{x|limitTo:4}}.jpg'/>
                                <div class="cplist">
                                    <p>
                                        <a ng-repeat="item in y" href="/page/detail.do#?idVal={{item.id}}" ng-bind-html="item.name | trustHtml" target="_blank" style="text-decoration: none">{{item.name}}</a>
                                    </p>
                                </div>
                            </div>
                        </li>

                    <ul id="test" class="picList da-thumbs" on-finish-render="ngRepeatFinished">
                        <li ng-repeat="(x,y) in resultMap.type">
                            <div class="ad">
                                <div class="tl">{{x|limitTo:-(x.length-4)}}</div>
                                <img ng-src='../../img/index/201507/{{x|limitTo:4}}.jpg'/>
                                <!--<img src='../../img/index/201507/"<%={{x|limitTo:4}}>".jpg'/>-->
                                <div class="cplist">
                                    <p>
                                        <a ng-repeat="item in y" href="/page/detail.do#?idVal={{item.id}}" ng-bind-html="item.name | trustHtml" target="_blank" style="text-decoration: none">{{item.name}}</a>
                                    </p>
                                </div>
                            </div>
                        </li>


                          <!--<li ng-repeat="(x,y) in resultMap.type" >
                               <div class="ad">
                                   <div class="tl">{{x|limitTo:-(x.length-4)}}</div>
                                    {{x|limitTo:4}}

                                   <img ng-src='../../img/index/201507/{{x|limitTo:4}}.jpg'/>
                                   <div class="cplist">
                                       <p ng-repeat="item in y">
                                           <a  href="/page/detail.do#?idVal={{item.id}}" ng-bind-html="item.name | trustHtml" target="_blank" style="text-decoration: none">
                                               {{item.name}}
                                           </a>
                                       </p>
                                   </div>
                               </div>
                           </li>-->
                           <li>
                               <div class="ad">
                                   <div class="tl">测试1</div>
                                   <img src="../member/upload/pms/201507/0619524175a1.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                           <a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a><a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a><a href="405.html" title="贵州茅台酒" target="_blank">测试1-1</a>
                                       </p>

                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试2</div>
                                   <img src="../member/upload/pms/201507/06195259xd0e.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="398.html" title="赫章核桃" target="_blank">测试2-1</a>
                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试3</div>
                                   <img src="../member/upload/pms/201507/061953133uhf.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="393.html" title="从江香猪" target="_blank">测试3-1</a>

                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试4</div>
                                   <img src="../member/upload/pms/201507/06195329bech.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="392.html" title="赤水金钗石斛" target="_blank">测试4-1</a>

                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试5</div>
                                   <img src="../member/upload/pms/201507/06195344ijt5.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="403.html" title="黎平香禾糯" target="_blank">测试5-1</a>
                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试6</div>
                                   <img src="../member/upload/pms/201507/06195405423m.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="396.html" title="独山盐酸菜" target="_blank">测试6-21</a>

                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">测试7</div>
                                   <img src="../member/upload/pms/201510/111043429zqi.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="416.html" title="大方漆器" target="_blank">测试7-1</a>

                                       </p>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="ad">
                                   <div class="tl">工艺品类</div>
                                   <img src="../member/upload/pms/201510/111043429zqi.png" />
                                   <div class=" cplist">
                                       <p>
                                           <a href="416.html" title="大方漆器" target="_blank">大方漆器</a>

                                       </p>
                                   </div>
                               </div>
                           </li>
                       </ul>

                </div>
                <div class="ad_title">
                    <div class="hd">
                        <a class="prev" title="" id="prev"></a>
                        <a class="next" title="" id="next"></a>
                        <!--  <div style="width: 200px;margin: 0 auto;text-align:center;"><ul></ul></div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <span style="margin-top: 2px;display: block;"></span>
    </div>		<!--/footer-->
</div>

<script type="text/javascript" src="../../js/ScrollPic.js" charset="utf-8"></script>


<script type="text/javascript">


  /*  $(function() {
        $('#da-thumbs > li').hoverdir();
    });

    $(function() {
        $('#da-thumbs > li').hoverdir();
    });

    var app = angular.module('shanxi-firstweb', []);
    app.directive('onFinishRender', function($timeout) {
        return {
            restrict: 'A',
            link: function(scope, element, attr) {
                if(scope.$last == true) {
                    $timeout(function() {
                        var cc1 = new ScrollPic();
                        cc1.scrollContId = "test"; // 内容容器ID,picList1加到容器上，
                        cc1.arrLeftId = "prev";//左箭头ID
                        cc1.arrRightId = "next"; //右箭头ID
                        cc1.frameWidth = 1200; //显示框的宽度
                        cc1.pageWidth = 1; //翻页宽度
                        cc1.speed = 10; //移动速度(单位毫秒，越小越快)
                        cc1.space = 10; //每次移动像素(单位px，越大越快)
                        cc1.autoPlay = true; //自动播放
                        cc1.autoPlayTime = 0.03; //自动播放间隔时间(秒)
                        cc1.initialize(); //初始化
                    });
                }
            }
        };



    });*/

    (function($){
        $(window).ready(function(){
            $('#da-thumbs > li').hoverdir();
            $(".home_ad .picScroll-left").slide({
                titCell:".hd ul",
                mainCell:".bd ul",
                autoPage:true,
                effect:"left",
                autoPlay:true,
                scroll:1,
                vis:4,
                pnLoop:false,
                delayTime:1000
            });
            //$.mCustomScrollbar.defaults.scrollButtons.enable=true; //enable scrolling buttons by default
            //$.mCustomScrollbar.defaults.axis="yx"; //enable 2 axis scrollbars by default
            $(".cplist").mCustomScrollbar({theme:"dark-thick"});//dark-thick minimal-dark
        });
    })(jQuery);

    $(function() {
        $('#da-thumbs > li').hoverdir();
    });

    function xx() {
        var cc1 = new ScrollPic();
        cc1.scrollContId = "test"; // 内容容器ID,picList1加到容器上，
        cc1.arrLeftId = "prev";//左箭头ID
        cc1.arrRightId = "next"; //右箭头ID
        cc1.frameWidth = 1200; //显示框的宽度
        cc1.pageWidth = 1; //翻页宽度
        cc1.speed = 10; //移动速度(单位毫秒，越小越快)
        cc1.space = 10; //每次移动像素(单位px，越大越快)
        cc1.autoPlay = true; //自动播放
        cc1.autoPlayTime = 0.03; //自动播放间隔时间(秒)
        cc1.initialize(); //初始化

    }
    /*$(document).ready(function (){
        /!*$(function () {*!/
        var cc1 = new ScrollPic();
        cc1.scrollContId = "test"; // 内容容器ID,picList1加到容器上，
        cc1.arrLeftId = "prev";//左箭头ID
        cc1.arrRightId = "next"; //右箭头ID
        cc1.frameWidth = 1200; //显示框的宽度
        cc1.pageWidth = 1; //翻页宽度
        cc1.speed = 10; //移动速度(单位毫秒，越小越快)
        cc1.space = 10; //每次移动像素(单位px，越大越快)
        cc1.autoPlay = true; //自动播放
        cc1.autoPlayTime = 0.03; //自动播放间隔时间(秒)
        cc1.initialize(); //初始化

    });*/
</script>

</body>
</html>
