<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>陕西省国家地理标志展示服务平台</title>
	<meta content="陕西地理标志保护产品,陕西地理标志保护产品,产品,地理,保护,标志,地理标志,地理标志保护,地理标志保护产品,茶,酒,果蔬,养殖,中药材,经济作物,地方特种,地方特色食品,食品,工艺品" name="keywords" />
	<meta content="" name="description" />

	<link rel="stylesheet" type="text/css" href="css/index/owl.carousel.css" />

	<script src="js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="js/index/home.js"></script>
	<script type="text/javascript" src="js/index/owl.carousel.js"></script>

	<!--  导入angularjs  -->
    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="js/proclamationBase.js"></script>
	<script type="text/javascript" src="js/service/proclamationService.js"></script>
	<script type="text/javascript" src="js/controller/proclamationController.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            sethomebg("img/index");
        });
	</script>
</head>
<body ng-app="shanxi-proclamation" ng-controller="proclamationController" ng-init="search()">
<div id="mbg" class="mbg"></div>
<div class="main" style="width: 100%;height:100%;min-height: 600px;min-width: 1200px;">
	<!--top-->
	<link rel="stylesheet" type="text/css" href="css/index/dbcp.css">
	<link rel="stylesheet" type="text/css" href="css/index/cmsstyle.css">
	<link href="css/index/atlas.css" rel="stylesheet"/>
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link href="plugins/adminLTE/css/AdminLTE.css" rel="stylesheet"/>

	<!-- custom scrollbar plugin -->
	<link rel="stylesheet" type="text/css" href="css/index/jquery.mCustomScrollbar.css" />
	<script src="js/index/jquery.mCustomScrollbar.concat.min.js"></script>

	<script type="text/javascript" src="js/index/mcomm.js"></script>
	<div class="headerbg">
		<div class="header">
			<div class="logo"></div>
			<div class="nav">
				<ul>
                    <li ><a href="page/index.do" target="_self">首 页</a></li>
                    <li ><a href="page/dbcpzs.do" target="_self" title="特色展示">特色展示</a></li>
                    <li ><a href="statisticsProductBulletin.html" target="_self" title="地理标志产品">地理标志产品</a></li>
                    <li ><a href="page/sydbqy.do" target="_self" title="用标企业">用标企业</a></li>
                    <li ><a href="statisticsStatistics.html" target="_self" title="查询统计">查询统计</a></li>
                    <li class="current" ><a href="proclamationIndex.html" target="_self" title="相关公告">相关公告</a></li>
                    <li ><a href="proclamationGuideBook.html" target="_self" title="保护指南">保护指南</a></li>
                    <li ><a href="policyPapers.html" target="_self" title="政策文件">政策文件</a></li>
					<li ><a href="/productStandard.html" target="_self" title="产品标准">产品标准</a></li>
					<li ><a href="/productLandmark.html" target="_self" title="农产品地理标志">农产品地理标志</a></li>
					<li ><a href="/geographicalIndicationTrademark.html" target="_self" title="地理标志商标">地理标志商标</a></li>
                    <!--<li ><a href="ComplainsRight.html" target="_self" title="投诉维权">投诉维权</a></li>-->
                    <!--<li ><a href="productIntroduction.html" target="_self" title="地标制度">地标制度</a></li>-->


				</ul>
				<a href="http://www.patviewer.com/" target="_blank"><label class="showSearch" title="搜索"></label></a>
			</div>
		</div>
		<!--/top-->

		<div class="bztitle"></div>
		<div class="ctnindex" >
			<div class="ggcnt">
				<div style="height: 20px; "></div>
				<div class="gglist">
					<table class="gtable" cellspacing="0" cellpadding="0" border="0">
						<tbody>
                    <tr ng-repeat=" item in resultMap.rows ">
                        <td>
                            <a href="proclamationShow.html#?idVal={{item.id}}" ng-bind-html="item.title | trustHtml" target="_blank" style="text-decoration: none">
                                <label style="float:left;width:150px;display: block;text-align: left;">{{item.title}}</label></a>
                            <label style="float:right;font-size: 13px">{{item.createTime.substring(0,10)}}</label>
                        </td>
                    </tr>
                    </tbody>
					</table>
				</div>
					<div class="box-footer" >
						<div class="pull-left" style="margin-left: 20px;">
							<div class="form-group form-inline">
								总共{{resultMap.totalPages}} 页，共{{resultMap.total}} 条数据。
								<span> 到第<input type="text" class="page-num" ng-model="currPageNo">页
                                      <button class="page-confirm" ng-click="queryByPage(currPageNo)">确定</button>
                                </span>
							</div>
						</div>

						<div class="box-tools pull-right">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous" ng-click="queryByPage(1)">首页</a>
								</li>
								<li class="prev {{isTopPage()?'disabled':''}}">
									<a href="#" ng-click="queryByPage(searchMap.pageNo - 1)">上一页</a>
								</li>
								<li class="dotted" ng-if="firstDot == true"><span>...</span></li>
								<li  ng-repeat="p in pageLabel"><a href="#" ng-click="queryByPage(p)">{{p}}</a></li>
								<li class="dotted" ng-if="lastDot == true"><span>...</span></li>
								<li class="next {{isEndPage()?'disabled':''}}">
									<a href="#"  ng-click="queryByPage(searchMap.pageNo + 1)">下一页</a>
								</li>
								<li>
									<a href="#" aria-label="Next"  ng-click="queryByPage(resultMap.totalPages)">尾页</a>
								</li>
							</ul>
						</div>

					</div>

            </div>
               <div  style="height: 3px;"></div>
           </div>
       </div>
   </div>
</div>
   <!--footer-->
		<div class="footer">
			<span style="margin-top: 2px;display: block;"></span>
		</div>	<!--/footer-->
</body>
</html>
