<!doctype html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>中国▪陕西地理标志保护产品</title>
    <meta content="陕西地理标志保护产品,陕西地理标志保护产品,产品,地理,保护,标志,地理标志,地理标志保护,地理标志保护产品,茶,酒,果蔬,养殖,中药材,经济作物,地方特种,地方特色食品,食品,工艺品" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" type="text/css" href="css/index/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/index/dbcp.css">
    <link rel="stylesheet" type="text/css" href="css/index/cmsstyle.css">
    <link href="css/index/atlas.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/index/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="plugins/adminLTE/css/skins/_all-skins.min.css">

    <script src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/index/home.js"></script>
    <script type="text/javascript" src="js/index/owl.carousel.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>

    <!--  导入angularjs  -->
    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="js/standardBase.js"></script>
    <script type="text/javascript" src="js/service/productStandardService.js"></script>
    <script type="text/javascript" src="js/controller/productStandardController.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            sethomebg("img/index");
        });
    </script>


    <!--<script src="plugins/adminLTE/js/app.min.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap-theme.css.map"/>-->
</head>
<body style="height: 100%">
<body ng-app="shanxi-standard" ng-controller="standardController" ng-init="load()">
<div id="mbg" class="mbg" style="height: 100%"></div>
<div class="main" style="width: 100%;height:100%;/*min-height: 1450px;*/min-width: 1200px;">
    <!--top-->
    <!-- custom scrollbar plugin -->

    <script src="js/index/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="js/index/mcomm.js"></script>
    <div class="headerbg" style=" width: 100%;">
        <div class="header">
            <div class="logo"></div>
            <div class="nav" >
                <ul>
                    <li><a href="/page/index.do" target="_self">首 页</a></li>
                    <li ><a href="/page/dbcpzs.do" target="_self" title="特色展示">特色展示</a></li>
                    <li ><a href="/statisticsProductBulletin.html" target="_self" title="地理标志产品">地理标志产品</a></li>
                    <li ><a href="/page/sydbqy.do" target="_self" title="用标企业">用标企业</a></li>
                    <li ><a href="/statisticsStatistics.html" target="_self" title="查询统计">查询统计</a></li>
                    <li ><a href="/proclamationIndex.html" target="_self" title="相关公告">相关公告</a></li>
                    <li ><a href="/proclamationGuideBook.html" target="_self" title="保护指南">保护指南</a></li>
                    <li ><a href="/policyPapers.html" target="_self" title="政策文件">政策文件</a></li>
                    <li class="current"><a href="/productStandard.html" target="_self" title="产品标准">产品标准</a></li>
                    <!--<li ><a href="/ComplainsRight.html" target="_self" title="投诉维权">投诉维权</a></li>-->
                    <li><a href="/productLandmark.html" target="_self" title="农产品地理标志">农产品地理标志</a></li>
                    <li ><a href="/geographicalIndicationTrademark.html" target="_self" title="地理标志商标">地理标志商标</a></li>
                </ul>
                <a href="http://www.patviewer.com/" target="_blank"><label class="showSearch" title="搜索"></label></a>
            </div>
        </div>

    </div>
    <!--/top-->
    <div class="bztitle"></div>
    <div class="ctnindex">
        <div class="qycnt">

            <div class="query" style="width: 100%;float:left;height:45px;padding-top:8px;margin-right: 15px; ">
                <div class="col-md-2" style="width: 15%;padding-left: 1px;" id="typeVal">
                    <select id="classificationSelect" class="form-control"   ng-model="searchMap.searchType" >
                        <option value="" >请选择</option>
                        <option value="product">产品名称</option>
                        <option value="number">标准号</option>
                        <option value="name">标准名称</option>
                    </select>
                </div>

                <input type="text" name="searchMap.searchVal" value="请输入待查询信息" style="min-height: 34px;width:290px;"
                       onfocus="if(this.value=='请输入待查询信息')this.value=''" onblur="if(this.value=='')this.value='请输入待查询信息'" autocomplete="off">
                <button style="height: 34px;width: 55px;"  class="button" ng-click="load()">确定</button>
            </div>

            <div class="listth">
                <table cellspacing="0" cellpadding="0">
                    <tr valign="middle">
                        <td class="th" width="50px;">序号</td>
                        <td class="th" width="150px;">产品名称</td>
                        <td class="th" width="240px;">标准号</td>
                        <td class="th" width="350px;">标准名称</td>
                        <td class="th" width="100px;">状态</td>
                        <td class="th" width="180px;">省市区</td>
                        <td class="th" width="150px;">发布日期</td>
                        <td class="th" width="150px;">实施日期</td>
                        <td class="th" width="150px;">备案号</td>
                        <td class="th" width="150px;">备案日期</td>
                    </tr>
                </table>
            </div>
            <div class="qylist">
                <table cellspacing="0" cellpadding="0">
                    <tr ng-repeat="item in resultMap.rows">
                        <td class="th" width="50px;">{{$index+1}}</td>
                        <td class="th" width="150px;">{{item.productName}}</td>
                        <td class="th" width="240px;"><a href="productStandardShow.html#?numberVal={{item.standardNumber}}" target="_blank" style="color:royalblue;text-decoration: none">{{item.standardNumber}}</a></td>
                        <td class="th" width="350px;">{{item.standardName}}</td>
                        <td class="th" width="100px;">{{item.state}}</td>
                        <td class="th" width="180px;">{{item.address}}</td>
                        <td class="th" width="150px;">{{item.publishTime}}</td>
                        <td class="th" width="150px;">{{item.implementTime}}</td>
                        <td class="th" width="150px;">{{item.recordNumber}}</td>
                        <td class="th" width="150px;">{{item.recordTime}}</td>
                    </tr>
                </table>
            </div>
            <div class="pagebar" style="margin-top:0;height: 46px;line-height: 46px;">

                <div class="pmsPage">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            总共{{resultMap.totalPages}} 页，共{{resultMap.total}} 条数据。
                            <!--<span>
                                到第<input style="width: 54px;height: 29px;" type="text" class="page-num" ng-model="searchMap.pageNo">页
                                <button class="page-confirm" ng-click="queryByPage(searchMap.pageNo)">确定</button>
                            </span>-->
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" ng-click="queryByPage(1)">首页</a>
                            </li>
                            <li class="prev {{isTopPage()?'disabled':''}}">
                                <a href="#" ng-click="queryByPage(searchMap.pageNo - 1)">上一页</a>
                            </li>
                            <li class="dotted" ng-if="firstDot == true"><span>...</span></li>
                            <li  ng-repeat="p in pageLabel"><a href="#" ng-click="queryByPage(p)">{{p}}</a></li>
                            <li class="dotted" ng-if="lastDot == true"><span>...</span></li>
                            <li class="next {{isEndPage() ? 'disabled': ''}}">
                                <a href="#"  ng-click="queryByPage(searchMap.pageNo + 1)">下一页</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next"  ng-click="queryByPage(resultMap.totalPages)">尾页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=""  style="height: 3px;"></div>
        </div>
    </div>


    <!--footer-->
    <div class="footer" style="height: 45px;">
        <span style="margin-top: 2px;display: block;">
            中国杨凌农业知识产权信息网 版权所有 Copyright © 2014www.ylagrin.com. All Rights Reserved 地址：陕西省西安市雁塔区丈八一路3号旺都D座11层<br>
            邮政编码：710086 电话：029-81101903 传真：029-81101903 信箱：service@fvce.com 陕ICP备20070059
        </span>
    </div>
    <!--/footer-->
</div>
<script type="text/javascript">
    $(document).ready(function(){
        cobj=$(".qylist");
        minus=345;
        setContent();
        $(window).resize(setContent);
        $(".qylist").mCustomScrollbar({theme:"3d-dark"});
    });
</script>
</body>
</html>
